.cursor-pointer {
    position: relative;
    transition: transform 0.3s ease;
  }
  
  .cursor-pointer:hover {
    transform: scale(1.05); /* Slight zoom effect */
  }
  
  .cursor-pointer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px; /* Thickness of the line */
    background-color: #007BFF; /* Your desired color */
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }
  
  .cursor-pointer:hover::after {
    width: 100%; /* Full width on hover */
  }

  .cursor-pointer-only{
    cursor: pointer !important;
  }

  
  /* .background{
    background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaTZyMHMzZjNsdG9xZjcyam40MmprZ2lkNTFmYzQycWVoaTMzdmg3ZiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/TZf4ZyXb0lXXi/giphy.gif');
    background-size: cover;
  } */